#app {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#app-div {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #fdf8dd;
	padding-bottom: 0;
	margin-bottom: 0;
}

#table-heading {
	text-align: center;
	font-family: 'Quicksand', sans-serif;	
}

#item-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 6rem;
	padding-bottom: 3rem;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	background-color: #ffa77e91;
	margin-left: 12.5%;
	margin-right: 12.5%;
	padding-left: 12.5%;	
	padding-right: 12.5%;
}

.item-complete {
	display: flex;
	background-color: rgb(175, 2, 2);
	width: 100%;
	margin-top: 0;
	padding: 0;
	border-radius: 1em;
	margin-top: 1em;
}

#item {
	display: flex;
	justify-content: space-between;
	width: 88%;
	background-color: #63364b;
	border-radius: 1em;
	padding: 1em 1em 1em 1em;
}

#item-name {
	font-size: 1rem;
	color: #dddbdb;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding-left: 1rem;
}

#cost {
	font-size: 1em;
	color: #dddbdb;
	font-family: 'Roboto', sans-serif;	
	padding-right: 1em;
}

#close {
	background-color: rgb(175, 2, 2);	
	border: none;
	color: #afafaf;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3rem;
	padding-right: 3%;
	padding-left: 2.5%;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

#close:hover {
	color: #fafafa;
}

#add-item-div {
	display: flex;
	justify-content: center;
	width: 75%;
	background-color: #63364b;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

#add-item {
	width: 75%;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0rem 0.8rem 0rem ;
}

#expense-name-input {
	width: 100%;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#expense-amount-input {
	width: 100%;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

input[type=text] {
	border: 2px rgb(82, 82, 82) solid;
	height: 60%;
	font-family: 'Quicksand', sans-serif;
	border-radius: 0.5rem;
	color: black;
	font-size: 1rem;
	background-color: #fffafe;	
	font-weight: bold;
}

#add-div {
	display: flex;
	align-items: center;
}

#add-btn {
	padding: 0.7em 2em 0.7em 2em;
	background-color: rgb(175, 2, 2);
	border: 1px black solid;
	color: #afafaf;
	border-radius: 1rem;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.9rem;
	font-weight: bold;
}

#add-btn:hover {
	color: #fafafa;
}

#net-expense {
	font-family: 'Quicksand', sans-serif;
	padding-top: 1rem;
	font-size: 2rem;
}

@media (max-width: 1080px) {
	#add-item {
		flex-direction: column;
		align-content: center;
	}
	#add-item div {
		margin-top: 10px;
	}
}

.fade-out {
	animation: slit-out-vertical 0.3s ease-in both;
}

@keyframes slit-out-vertical {
	0% {
	  /* -webkit-transform: translateZ(0) rotateY(0);
			  transform: translateZ(0) rotateY(0); */
	  opacity: 1;
	}
	54% {
	  /* -webkit-transform: translateZ(-160px) rotateY(87deg);
			  transform: translateZ(-160px) rotateY(87deg); */
	  opacity: 1;
	}
	100% {
	  /* -webkit-transform: translateZ(-800px) rotateY(90deg);
			  transform: translateZ(-800px) rotateY(90deg); */
	  opacity: 0.001;
	}
}