#app-div {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #fefbe9;
}

#item-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 6rem;
	margin-bottom: 4em;
	padding-bottom: 1rem;
	padding-bottom: 3rem;
	border-radius: 1em;
	background-color: #e1eedd;
	margin-left: 12.5%;
	margin-right: 12.5%;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

.item-complete {
	display: flex;
	background-color: rgb(175, 2, 2);
	width: 100%;
	margin-top: 0;
	padding: 0;
	border-radius: 1em;
	margin-top: 1em;
}

#item {
	display: flex;
	justify-content: space-between;
	width: 88%;
	background-color: #2e6d92;
	border-radius: 1em;
	padding: 1em 1em 1em 1em;
}

#item-name {
	font-size: 1em;
	color: #dddbdb;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding-left: 1rem;
}

#cost {
	font-size: 1em;
	color: #dddbdb;
	font-family: 'Roboto', sans-serif;	
	padding-right: 1em;
}

#close {
	background-color: rgb(175, 2, 2);	
	border: none;
	color: #fafafa;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	padding-right: 3%;
	padding-left: 2.5%;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

#close:hover {
	background-color: rgb(175, 2, 2);
	color: rgb(138, 138, 138);
}